### Pandas Useage

In [3]:
import pandas as pd
import seaborn as sns
import scipy as sp
from scipy import stats

In [4]:
iris = sns.load_dataset("iris")
iris.head()
iris.at[3,'sepal_length'] # 원소 찾기 sepal_length행의 index 3 원소

4.6

In [8]:
iris.loc[3,'sepal_length'] # 같은 의미

4.6

In [10]:
iris['sepal_total'] = iris['sepal_length'] + iris['sepal_width'] # 새로운 열 추가
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal_total
0           5.1          3.5           1.4          0.2  setosa          8.6
1           4.9          3.0           1.4          0.2  setosa          7.9
2           4.7          3.2           1.3          0.2  setosa          7.9
3           4.6          3.1           1.5          0.2  setosa          7.7
4           5.0          3.6           1.4          0.2  setosa          8.6

In [13]:
iris.insert(6,'multiful', iris['sepal_length'] * iris['sepal_width']) 
# index 기준으로 6번 열에 새로운 열을 삽입
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_total,multiful
0,5.1,3.5,1.4,0.2,setosa,8.6,17.85
1,4.9,3.0,1.4,0.2,setosa,7.9,14.70
2,4.7,3.2,1.3,0.2,setosa,7.9,15.04
3,4.6,3.1,1.5,0.2,setosa,7.7,14.26
4,5.0,3.6,1.4,0.2,setosa,8.6,18.00

In [20]:
## 열 삭제
del iris['sepal_total']
del iris['multiful']
## 행 삭제
iris.drop([4,5])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa